<html data-dpr="3" class="mobile dpr3 mobile dpr3 mobile dpr3">
	<head>
		<title>加班申请</title>
		<meta charset="utf-8">
		<meta name="description" content="">
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta http-equiv="cleartype" content="on">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-title" content="">
		<link rel="stylesheet" href="../css/app.css">
		<!-- 测试地址 -->
		<script type="text/javascript" src="https://g.alicdn.com/platform/nw_hybrid_jssdk/0.1.8/loader.js"></script>
		<style>
			html {
				font-size: 36px!important
			}
		</style>
		<style id="tGroup_List_Style" type="text/css"></style>
		<style>
			html {
				font-size: 36px!important
			}
		</style>
		<style>
			html {
				font-size: 36px!important
			}
		</style>
	</head>

	<body>
		<div id="MF_APP">
			<div data-reactid=".0">
				<div class="wf-main" data-reactid=".0.0">
					<div class="custom-pannel" data-reactid=".0.0.0">
						<div class="tGroup" data-reactid=".0.0.0.$1">
							<div class="tGroup_List" data-reactid=".0.0.0.$1.0">
								<div class="tGroup_ListItem" data-reactid=".0.0.0.$1.0.$=10:0">
									<div class="tDDDatePannel" data-reactid=".0.0.0.$1.0.$=10:0.0">
										<div class="tFL tMR10 tLH1_3 tFC6 tPT12 tPB12 tFieldLabel" data-reactid=".0.0.0.$1.0.$=10:0.0.0">开始时间</div><svg class="tIcon tFR tLH1_3 tFC9 tDDSelectIcon" data-reactid=".0.0.0.$1.0.$=10:0.0.1"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow"></use></svg>
										<div class="tFR tMR10 tLH1_3 tFC6 tPT12 tPB12" data-reactid=".0.0.0.$1.0.$=10:0.0.2">2016-07-27 11:54</div>
									</div>
								</div>
								<div class="tGroup_ListItem" data-reactid=".0.0.0.$1.0.$=11:0">
									<div class="tDDDatePannel ding-dataRange-end" data-reactid=".0.0.0.$1.0.$=11:0.0">
										<div class="tFL tMR10 tLH1_3 tFC6 tPT12 tPB12 tFieldLabel" data-reactid=".0.0.0.$1.0.$=11:0.0.0">结束时间</div><svg class="tIcon tFR tLH1_3 tFC9 tDDSelectIcon" data-reactid=".0.0.0.$1.0.$=11:0.0.1"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow"></use></svg>
										<div class="tFR tMR10 tLH1_3 tFC6 tPT12 tPB12" data-reactid=".0.0.0.$1.0.$=11:0.0.2">2016-07-27 11:54</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tGroup" data-reactid=".0.0.0.$2">
							<div class="tGroup_List" data-reactid=".0.0.0.$2.0">
								<div class="tGroup_ListItem" data-reactid=".0.0.0.$2.0.$=10:0">
									<div class="tField tFBH tTextField tFBAC" data-reactid=".0.0.0.$2.0.$=10:0.0">
										<div class="tFieldLabel" data-reactid=".0.0.0.$2.0.$=10:0.0.0">加班时长</div>
										<div class="tFB1 tPR tFieldBox" data-reactid=".0.0.0.$2.0.$=10:0.0.1">
											<div class="tOmit tTextFieldPlaceholder" data-reactid=".0.0.0.$2.0.$=10:0.0.1.0">请填写加班时长(必填)</div><input class="tTextFieldInput" type="text" value="" data-reactid=".0.0.0.$2.0.$=10:0.0.1.1"></div>
									</div>
								</div>
							</div>
						</div>
				
						<div class="tGroup" data-reactid=".0.0.0.$4">
							<div class="tGroup_List" data-reactid=".0.0.0.$4.0">
								<div class="tGroup_ListItem" data-reactid=".0.0.0.$4.0.$=10:0">
									<div class="tFBAC tFS14 tDDSelect" data-reactid=".0.0.0.$4.0.$=10:0.0">
										<div class="tPL2 tFS14 tCL tDDSelectField" data-reactid=".0.0.0.$4.0.$=10:0.0.0">
											<div class="tFL tMR10 tLH1_3 tFC6 tPT12 tPB12 tDDSelectTitle" data-reactid=".0.0.0.$4.0.$=10:0.0.0.0">加班核算方式</div><svg class="tIcon tFR tLH1_3 tFC9 tDDSelectIcon" data-reactid=".0.0.0.$4.0.$=10:0.0.0.1"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow"></use></svg>
											<div class="tFR tMR10 tLH1_3 tFC6 tPT12 tPB12 tDDSelectValue"
												data-reactid=".0.0.0.$4.0.$=10:0.0.0.2">申请调休</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tGroup" data-reactid=".0.0.0.$5">
							<div class="tGroup_List" data-reactid=".0.0.0.$5.0">
								<div class="tGroup_ListItem" data-reactid=".0.0.0.$5.0.$=10:0">
									<div class="tField tFBH tTextField tFBAC" data-reactid=".0.0.0.$5.0.$=10:0.0">
										<div class="tFieldLabel" data-reactid=".0.0.0.$5.0.$=10:0.0.0">加班原因</div>
										<div class="tFB1 tPR tFieldBox" data-reactid=".0.0.0.$5.0.$=10:0.0.1">
											<div class="tOmit tTextFieldPlaceholder" data-reactid=".0.0.0.$5.0.$=10:0.0.1.0">请填写加班原因</div><input class="tTextFieldInput" type="text" value="" data-reactid=".0.0.0.$5.0.$=10:0.0.1.1"></div>
									</div>
								</div>
							</div>
						</div><noscript data-reactid=".0.0.0.$6"></noscript>
						<span data-reactid=".0.0.0.$8"></span></div>
					<div class="submit-foot tTap" data-reactid=".0.0.1">提交</div>
				</div>
			</div>
		</div>

	</body>

</html>